{% extends "layout.html" %}

{% block content %}
  <div class="about-container">
  <div class="title">
    <h2> About Ferengi Game Library </h2>
  </div>
  <p class="about-lib">

  As a team, we have created the Ferengi Game Library so that users can enjoy a variety of game titles, compete to earn high scores on our imported options, 
  as well as send us their own open source links to be reviewed and possibly seen deployed along side our original library. 
  Our aim as developers was to create something that users would enjoy, as well as gaining experience in web-developement.
  </p>
  </div>
  <div class ="photo-container">
  <div class="title">
    <h2> About Us </h2>
  </div>
  
      <div class="photo-row">
        <div class="photo-box">
          <div class="photo-box-inner">
              <div class="photo-box-front">
                  <img src="/img/photo_Heath.jpg" alt="Photo of Heath">
                  <h3>Heath Mercer</h3>
                  <p class="about">hem100@txstate.edu</p>
              </div>
              <div class="photo-box-back">
                  <p class="about">I'm Heath Mercer, a Math and Computer Science major. My interests lie in the strategic world of chess and the intricate
                  beauty of mathematics.</p>
              </div>
          </div>
        </div>
        <div class="photo-box">
          <div class="photo-box-inner">
              <div class="photo-box-front">
                  <img src="/img/photo_Nathan.jpg" alt="Photo of Nathan">
                  <h3>Nathan Padgett</h3>
                  <p class="about">nap78@txstate.edu</p>
              </div>
              <div class="photo-box-back">
                  <p class="about">I'm Nathan Padgett, a Computer Science Major and Math minor and I cannot code with out music playing.</p>
              </div>
          </div>
        </div>
        <div class="photo-box">
          <div class="photo-box-inner">
              <div class="photo-box-front">
                  <img src="/img/photo_Jake.jpg" alt="Photo of Jake">
                  <h3>Jake Butler</h3>
                  <p class="about">jrbutler@txstate.edu</p>
              </div>
              <div class="photo-box-back">
                  <p class="about">Add a description about yourself</p>
              </div>
          </div>
        </div>
        <div class="photo-box">
          <div class="photo-box-inner">
              <div class="photo-box-front">
                  <img src="/img/photo_Jaime.jpg" alt="Photo of Jaime">
                  <h3>Jaime Flores</h3>
                  <p class="about">jaf289@txstate.edu</p>
              </div>
              <div class="photo-box-back">
                  <p class="about">Add a description about yourself</p>
              </div>
          </div>
        </div>
        <div class="photo-box">
          <div class="photo-box-inner">
              <div class="photo-box-front">
                  <img src="/img/photo_Alex.jpg" alt="Photo of Alex">
                  <h3>Alex Kaylor</h3>
                  <p class="about">glb116@txstate.edu</p>
              </div>
              <div class="photo-box-back">
                  <p class="about">Add a description about yourself</p>
              </div>
          </div>
        </div>
      </div>
    </div>
      

{% endblock %}
